.radio {
  width: 1em;
  height: 1em;
  padding: 0;
  border: 1px solid var(--button-border-color);
  border-radius: 50%;
  line-height: 0;
  vertical-align: middle;
  background-color: transparent;

  &:hover {
    border-color: var(--button-hover-border-color);
    background-color: transparent;
  }

  &:not(:only-child):first-child {
    margin-right: 1em;
  }
}

.radio--active {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 33.33%;
    left: 33.33%;
    width: 33.33%;
    height: 33.33%;
    border-radius: 50%;
    background-color: var(--green-color);
  }
}
